
 body {
    background-color: #FFF9C4;
    font-family: 'Anton', sans-serif; 
    margin: 0;
    padding: 0;
   
}










/* * Grids */ 

  #container {
    display: grid;
    gap: 10px;
    grid-template-areas:

        "nav nav nav "
        "header header header"
        "main main main"
         "section section section" 
        "footer footer footer";

    /* grid-gap: 10px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto 
    
}


 .header {
    
   
    grid-area: header;
    

}

.nav {
   
   
    grid-area: nav;
   

}


.main {
    grid-area: main;
   

}

.section{
 
    grid-area: section;
    
   
}

.footer {
    
    grid-area: footer;

    

} 