/* Index */

.logo  {
    width: 129px;
    height: 103px;
    margin-right: 20px;
  
}



/* Aplicacion Bootstrap carrousel */    /* Aplicacion bem */
.carrousel{     /* Elemento bloque  */
 
    display: flex;
    
    justify-content: center;
}
.carrousel__imagen {  /* Elemento */
   max-width: 100%;
   height: auto;
   width: 1400px;
   
}



/* Menu bootstrap */

.navbar__color{
    background-color: #FFEB3B; 
}
 .navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu> .dropdown-menu {
    top: 0;
    margin-top: -5px;
    left: 100%;
}
.dropdown-menu>li>a:hover::after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
/* Productos destacados */
/* Cards */

.card--altura { /* Modificador */
    
       max-width: 230px;
       max-height: auto;
        width: 100%;
        height: 100%;
    
}
.botonColor {
    background-color: #FBC02D;
}

/* Iconos en el Index */

.col svg{
    width: 64px;
    margin-bottom: 10px;
}
