/* Aplicacion de Mobile */

    
@media screen and (max-width: 500px ) {
    .col svg{
        width: 25px;
        margin-bottom: 5px;
    }
    .div, .col, .container__divs1,  .container__divs2,  .container__divs3{
        padding: 0 !important;

    }
    .titulo__Destacados {
        font-size: 50%;
    }
    .owl-carrousel {
     
        max-width: 120%;
        height: 100%;
        padding-right: 0px !important;
        padding-left:0px !important;
    }
    .owl__carrousel--h5 {
        margin: 0px  !important;
        font-size: 70% !important;
    }
    
    .owl__carrousel--precio {
        font-size: 70% !important;
    }
    .botonColor {
        font-size: 50%  !important;
    }

}
/* Media Query CONTACTO */
@media(min-width: 700px) {
     
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}

/* Media Query SUCURSAL */

 @media (max-width: 700px ) {
    .sucursal__contenido {
        height: 50%;
        display: grid;
        grid-template-columns: 2fr ;
    }
    
    .sucursal__contenido > * {
        padding: 2em;
    }
    .sucursal__iframe {
    
        width: 100%;
        height: 50%;
            
    }
    .sucursal__info h4,
    .sucursal__info ul,
    .sucursal__info p {
        text-align: left;
    }
 }

 /* Media Query SUCURSAL */
 @media  screen and  (max-width: 330px ) { 
    .sucursal__iframe {
    
        width: 100%;
        height: auto;
    }
}  
