/* Aplicacion de Mobile */

    
@media screen and (max-width: 500px ) {
    .col svg{
        width: 25px;
        margin-bottom: 5px;
    }
    .div, .col, .container__divs1,  .container__divs2,  .container__divs3{
        padding: 0 !important;

    }
    .titulo__Destacados {
        font-size: 50%;
    }
    .owl-carrousel {
     
        max-width: 120%;
        height: 100%;
        padding-right: 0px !important;
        padding-left:0px !important;
    }
    .owl__carrousel--h5 {
        margin: 0px  !important;
        font-size: 70% !important;
    }
    
    .owl__carrousel--precio {
        font-size: 70% !important;
    }
    .botonColor {
        font-size: 50%  !important;
    }

}
