/* Pag sucursal */
.container_sucursal {
max-width: 1170px;
margin-left: auto;
margin-right: auto;
padding: 1.3em;


}
.sucursal__titulo {
    text-align: center;
    font-size: 3em;
}
.sucursal__contenido > * {
    padding: 1em;
}
 .sucursal__contenido{
    height: 500px;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    
} 

/* Sucursal mapa */
.sucursal__mapa{

    background-color: #FFEB3B;
}
.sucursal__iframe {
margin: 2px;
width: 100%;
height: 70%;
    

}
 
/* Sucursal Info */
.sucursal__info {
   
background-color:  #FBC02D;
}
.sucursal__info > ul {
    list-style: none;
    padding: 0;

}

 









